<template>
  <div class="dir-file">
    <div class="file-icons">
      <font-awesome-icon class="fa-2x file-icon" icon="file"/>
    </div>
    <div v-if="file.renameOn" class="folder-name"><slot name="name"></slot></div>
    <div v-else class="folder-name"><span>{{file.name}}</span></div>
    <div class="file-rename" @click="openRename(file)">
      <font-awesome-icon icon="pencil"/>
    </div>
    <div class="file-delete" @click="deleteItem(file.id)">
      <font-awesome-icon icon="trash-can"/>
    </div>
  </div>
</template>

<script>
export default {
  props:['file'],
  name: "DirItemFile",
  methods:{
    openRename(file){
      file.renameOn = !file.renameOn
    },
    deleteItem(ID){
      this.$store.commit('DELETE_ITEM', ID)
    }
  }
}
</script>

<style  lang="scss" scoped>
.file{
  &-rename, &-delete{
      cursor: pointer;
   }
}
</style>