<template>
  <div class="dir-folder">
    <div class="folder-icons" @click="openFolder(folder.id)">
      <font-awesome-icon :class="{'fa-rotate-90': rotateCaret}" class="fa-1x caret-icon" icon="caret-right"/>
      <font-awesome-icon class="fa-2x folder-icon" icon="folder"/>
    </div>
    <div v-if="folder.renameOn" class="folder-name"><slot name="name"></slot></div>
    <div v-else class="folder-name"><span>{{folder.name}}</span></div>
    <div class="folder-rename" @click="openRename(folder)">
      <font-awesome-icon icon="pencil"/>
    </div>
    <slot name="delete"></slot>
    <div class="folder-delete" @click="deleteItem(folder.id)">
      <font-awesome-icon icon="trash-can"/>
    </div>
  </div>
</template>

<script>
export default {
  props:['folder',],
  name: "DirItemFolder",
  data(){
    return{
      rotateCaret: false,
    }
  },
  methods:{
    openFolder(ID){
      this.$store.commit('OPEN_FOLDER', ID)
      this.rotateCaret = !this.rotateCaret
    },
    openRename(folder){
      folder.renameOn = !folder.renameOn
    },
    deleteItem(ID){
      this.$store.commit('DELETE_ITEM', ID)
    }
  },
}
</script>

<style lang="scss" scoped>
.folder{
  &-icons{
    cursor: pointer;
  }
  &-rename{
    cursor: pointer;
  }
  &-delete{
    cursor: pointer;
  }
}
</style>