<template>
  <section class="dir-list">
<!--Строим DOM-дерево используя данные из массива "directories"-->
    <div class="dir" v-for="(dir) in directories" :key="dir.id">
      <template v-if="dir.type === 'folder'">
        <dir-item-folder
            :folder="dir"
        >
<!--Передаём слоты, потому что нельзя связать через "v-model" пропсы-->
          <template v-slot:name>
            <input @keyup.enter="dir.renameOn = false" v-model="dir.name" type="text" :placeholder="dir.name">
          </template>
        </dir-item-folder>
<!--Достраиваем DOM-дерево используя данные из массива "directories.inner"-->
        <template v-for="dirInner1 in dir.inner" :key="dirInner1.id">
          <template v-if="dirInner1.type === 'folder'">
            <dir-item-folder
                v-show="dir.open"
                :class="'inner-1'"
                :folder="dirInner1"
            >
              <template v-slot:name>
                <input @keyup.enter="dirInner1.renameOn = false" v-model="dirInner1.name" type="text" :placeholder="dirInner1.name">
              </template>
            </dir-item-folder>
            <template v-for="dirInner2 in dirInner1.inner" :key="dirInner2.id">
              <template v-if="dirInner2.type === 'folder'">
                <dir-item-folder
                    :class="'inner-2'"
                    v-show="dirInner1.open && dir.open"
                    :folder="dirInner2"
                >
                  <template v-slot:name>
                    <input @keyup.enter="dir.renameOn = false" v-model="dirInner2.name" :placeholder="dirInner2.name">
                  </template>
                </dir-item-folder>
              </template>
              <template v-else>
                <dir-item-file
                    v-show="dirInner1.open && dir.open"
                    :class="'inner-2'"
                    :file="dirInner2"
                >
                  <template v-slot:name>
                    <input @keyup.enter="dirInner2.renameOn = false" v-model="dirInner2.name" type="text" :placeholder="dirInner2.name">
                  </template>
                </dir-item-file>
              </template>
            </template>
          </template>
          <template v-else>
            <dir-item-file
                v-show="dir.open"
                :class="'inner-1'"
                :file="dirInner1"
            >
              <template v-slot:name>
                <input @keyup.enter="dirInner1.renameOn = false" v-model="dirInner1.name" type="text" :placeholder="dirInner1.name">
              </template>
            </dir-item-file>
          </template>
        </template>
      </template>
      <template v-else>
        <dir-item-file
            :file="dir"
        >
          <template v-slot:name>
            <input @keyup.enter="dir.renameOn = false" v-model="dir.name" type="text" :placeholder="dir.name">
          </template>
        </dir-item-file>
      </template>
    </div>
  </section>
</template>

<script>
import {mapGetters} from 'vuex'
import DirItemFolder from "@/components/DirItemFolder";
import DirItemFile from "@/components/DirItemFile";
export default {
  name: "DirList",
  components: {DirItemFile, DirItemFolder},
  computed:{
    ...mapGetters(['directories']),
  },
  data(){
    return{
      open1: true,
      isActive: false,
    }
  },
}
</script>

<style lang="scss">
//Стили не скоуплю, только потому что, общих стилей много и приложение маленькое
*{
  font-family: Bahnschrift;
  font-size: 16px;
}
body{
  background-color: #E8E8E8FF;
}
.dir-list{
  margin: 10vh auto;
  width: 300px;
}
.dir-folder, .dir-file{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.folder, .file{
  &-icons{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
  }
  &-name{
    width: 30%;
    display: flex;
    justify-content: center;
  }
  &-rename, &-delete{
    width: 10%;
    display: flex;
    justify-content: center;
  }
}
.file{
  &-icon{
    padding-left: 29px;
  }
}
.dir-folder, .dir-file{
  margin-bottom: 10px;
}
.inner-1{
  margin-left: 20px;
}
.inner-2{
  margin-left: 40px;
}
input{
  width: 80%;
  border: black 1px solid;
}
</style>