<template>
  <dir-list/>
</template>

<script>
import DirList from "@/components/DirList";
export default {
  components: {DirList},
  data(){
    return{
      addTurn: true
    }
  },

}
</script>

<style lang="scss" scoped>

</style>
